<div class="container" id="data-grid-demo">
  <dx-data-grid id="dataGrid" [dataSource]="dataSource" [showBorders]="true"
    (onSelectionChanged)="onSelectionChanged($event)">

    <dxo-selection mode="multiple"></dxo-selection>

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>

    <dxi-column dataField="nome" caption="Nome"></dxi-column>
    <dxi-column (onClick)="formatarCPF(data)" dataField="cpf" caption="CPF"></dxi-column>

    <dxi-column dataField="estado" caption="UF"></dxi-column>
    <dxi-column dataField="cidade"></dxi-column>


    <dxi-column dataField="bairro"></dxi-column>
    <dxi-column dataField="rua"></dxi-column>
    <dxi-column dataField="numero" caption="Número"></dxi-column>

    <dxi-column dataField="complemento"></dxi-column>
    <dxi-column dataField="observacao" caption="Observação"></dxi-column>

    <dxo-lookup [dataSource]="dataSource" displayExpr="nome" valueExpr="id_aluno"></dxo-lookup>

    <dxo-toolbar>

      <dxi-item name="addRowButton" showText="always">
      </dxi-item>
      <dxi-item location="after">
        <dx-button (click)="delete()" icon="trash" [disabled]="!selectedRows" text="Excluir registro do aluno">
        </dx-button>
      </dxi-item>
    </dxo-toolbar>

  </dx-data-grid>

</div>