<div class="container mt-4">
  <!-- <h2>Adicionar Disciplina</h2> -->

  <!-- <dx-form [formData]="disciplina" [showColonAfterLabel]="true">
    <dxi-item itemType="group" [caption]="''">
      <dxi-item dataField="nome" [editorOptions]="{ placeholder: 'Nome' }"></dxi-item>
      <dxi-item dataField="professor" [editorOptions]="{ placeholder: 'Professor' }"></dxi-item>
      <dxi-item dataField="cargaHoraria" [editorType]="'dxNumberBox'"
        [editorOptions]="{ placeholder: 'Carga Horária' }"></dxi-item>

    </dxi-item>
    <dxi-item>
      <dx-button text="Adicionar Disciplina" (onClick)="onSubmit()"></dx-button>
    </dxi-item>
  </dx-form> -->
  <h2>Disciplinas disponiveis </h2>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Disciplinas</div>
      <div class="card-body">
        <dx-data-grid [dataSource]="disciplina" [showBorders]="true" [allowColumnResizing]="true"
          [columnAutoWidth]="true">
          <dxo-paging [pageSize]="20"></dxo-paging>
          <dxo-editing mode="form" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>
          <dxi-column dataField="id_disciplina" caption="ID"></dxi-column>
          <dxi-column dataField="nome" caption="Nome"></dxi-column>
          <dxi-column dataField="carga_horaria" caption="Carga Horária"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>



</div>
