<div class="container" id=" data-grid-demo">

  <dx-data-grid id="dataGrid" [dataSource]="dataSource" [showBorders]="true" [width]="700"
    (onSelectionChanged)="onSelectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)">

    <dxo-selection mode="multiple"></dxo-selection>

    <dxo-paging [enabled]="false"></dxo-paging>

    <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
      <dxo-popup title="Cadastrar turma" [showTitle]="true" [width]="500" [height]="'auto'"
        [position]="{my:'center', at: 'center '}"></dxo-popup>

      <dxo-form>
        <dxi-item dataField="nome"></dxi-item>
        <dxi-item dataField="turno"></dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="id_turma" [width]="50" caption="ID"></dxi-column>
    <dxi-column dataField="nome" caption="Nome da turma"></dxi-column>
    <dxi-column dataField="nome_turno" caption="Turno" [width]="150"></dxi-column>

    <dxo-toolbar>
      <dxi-item name="addRowButton" showText="always"></dxi-item>
      <dxi-item location="after">
        <dx-button (click)="delete()" icon="trash" [disabled]="!selectedRows" text="Excluir disciplinas"></dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>
</div>
