<div class="container" id="data-grid-demo">
  <dx-data-grid id="gridContainer" [dataSource]="aluno" [showBorders]="true"
    (onSelectionChanged)="onSelectionChanged($event)">
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
    </dxo-editing>
    <dxo-selection mode="multiple"></dxo-selection>

    <dxi-column dataField="nome"></dxi-column>
    <dxi-column dataField="cpf"></dxi-column>

    <dxi-column dataField="bairro"></dxi-column>
    <dxi-column dataField="estado"></dxi-column>
    <dxi-column dataField="cidade"></dxi-column>

    <dxi-column dataField="observacao"></dxi-column>

    <dxo-lookup [dataSource]="states.id_aluno" displayExpr="nome" valueExpr="id_aluno">
    </dxo-lookup>

    <dxo-toolbar>
      <dxi-item name="addRowButton" showText="always">

      </dxi-item>
      <dxi-item location="after">
        <dx-button (onClick)="deleteIdSelecionado()" icon="trash" [disabled]="!idSelecionado"
          text=" Excluir registro do aluno">
        </dx-button>
      </dxi-item>
    </dxo-toolbar>


  </dx-data-grid>
</div>
