.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.px-3.py-2.text-bg-dark.border-bottom {
  width: 99vw;
  height: 75px;
  margin-left: -11px !important;
}
.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 587px;
  top: -40px;
}
button.btn.btn-light.text-dark.me-2 {
  position: relative;
  top: -2px;
  right: -6px;
  width: 100px;
}
.Conteudo {
  height: max-content;
  margin-top: 30px;
}
.final {
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0px;
}
footer.bg-dark.text-white.text-center.p-3.mt-4 {
  margin-left: -11px !important;
  width: 100vw;
}
