.px-3.py-2.text-bg-dark.border-bottom {
  width: 100vw;
  height: 75px;
}


button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start {
display: flex;
justify-content: center;
margin-top: 5px;

}
button.btn.btn-light.text-dark.me-2 {
    position: relative;
    top: -1px;
    right: -28px;
    width: 90px;
}
.Conteudo {
  margin-top: -1px !important;
}
.final {
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0px;
}
footer.bg-dark.text-white.text-center.p-3.mt-4 {
  width: 100vw;
}
//Pag

.container-fluid {
  width: 100vw;
  height: 100vh;
  --bs-gutter-x: 0;
}
