<div class="left"></div>
<div class="rigth"></div>
<div class="container-fluid">
  <!-- Barra de navegação -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="Active" [routerLink]="['/Login']">Login</a>
        </li>
        <select class="nav-link" (change)="navega($event)">
          <option value="/professores">Professores</option>
          <option value="/professores/cadastrado">Cadastrar professores</option>
          <option value="/professores/Disciplina">Cadastrar em disciplina
          </option>
        </select>
        <select class="nav-link" (change)="navega($event)">
          <option value="">Alunos</option>
          <option value="/aluno/listar">Alunos cadastrados</option>
          <option value="/aluno/cadastro">Cadastrar</option>
          <option value="/aluno/nota">Inserir nota</option>
        </select>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="Active" [routerLink]="['/Disciplina']">Disciplinas</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" routerLink="['horario']">Horário</a>
        </!--li-->
      </ul>
    </div>
  </nav>
</div>
<!-- Conteúdo principal -->

<div class="">
  <router-outlet></router-outlet>
</div>
