<div class="container" id="data-grid-demo">
  <dx-data-grid id="dataGrid" [dataSource]="dataAlunoNotas" [showBorders]="true"(onEditorPreparing)="onEditorPreparing($event)">

    <!--Formulario cadastro aluno-->
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
      <dxo-popup title="Gerar nota aluno" [showTitle]="true" [width]="900" [height]="500"
        [position]="{ my: 'center', at: 'center' }">
      </dxo-popup>

        <dxo-form>

          <!--Formulario do aluno-->
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item  dataField="id_matricula" ></dxi-item>
            <dxi-item dataField="cpf_aluno" [editorOptions]="{  disabled: true }"></dxi-item>
          </dxi-item>

          <!--Formulario do Vinculo-->
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item dataField="id_professor_disciplina"></dxi-item>
          </dxi-item>

          <!--Mostrar dados do vinculo-->
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <!--Mostrar valores existentes na seleção-->
            <dxi-item dataField="professor"  [editorOptions]="{disabled:true}"></dxi-item>
            <dxi-item dataField="cpf_professor" [editorOptions]="{disabled:true}"></dxi-item>
            <dxi-item dataField="disciplina" [editorOptions]="{  disabled: true }"></dxi-item>
          </dxi-item>

          <!--Formulario de input no dataSource-->
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="valor" caption="Nota"></dxi-item>
            <dxi-item dataField="data_lancamento" editorType="dxDateBox" [editorOptions]="{displayFormat: 'yyyy-MM-dd'}"></dxi-item>
          </dxi-item>

        </dxo-form>
    </dxo-editing>

    <!--Vinculo-->
    <dxi-column dataField="id_professor_disciplina" caption="Vinculo" [width]="70">
      <dxo-lookup [dataSource]="dataProfessorDisciplina" displayExpr="id" valueExpr="id"></dxo-lookup>
    </dxi-column>

    <!--Dados Aluno-->
    <dxi-column dataField="" caption="Aluno">
      <dxi-column dataField="id_matricula" caption="Nome">
        <dxo-lookup [dataSource]="dataMatricula" displayExpr="nome" valueExpr="id_matricula"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="cpf_aluno" caption="CPF"></dxi-column>
    </dxi-column>

    <!--Dados do professor-->
    <dxi-column dataField="" caption="Professor">
      <dxi-column dataField="professor" caption="Professor"></dxi-column>
      <dxi-column dataField="cpf_professor" caption="CPF"></dxi-column>
    </dxi-column>

    <!--Dados da disciplina-->
    <dxi-column dataField="" caption="Disciplinas">
      <dxi-column dataField="disciplina" caption="Disciplina" [width]="180"></dxi-column>
      <dxi-column dataField="carga_horaria" caption="Cara Horária"></dxi-column>
    </dxi-column>

    <!--Dados da nota_aluno-->
    <dxi-column dataField="" caption="Nota">
       <dxi-column dataField="valor" caption="Nota" ></dxi-column>]
       <dxi-column dataField="data_lancamento" caption="Data lancamento" dataType="date" format="dd/MM/yyyy"></dxi-column>
    </dxi-column>

    <dxi-item name="addRowButton" showText="always"></dxi-item>
  </dx-data-grid>
</div>
