::ng-deep .form-group {
  padding: 20px;
}
::ng-deep .form-avatar {
  height: 128px;
  width: 128px;
  margin-right: 10px;
  border: 1px solid #d2d3d5;
  border-radius: 50%;
  background-image: url("../../assets/Imagens/Professor.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
input#cpf {
  width: 100%;
  font-size: 1rem;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 34px;
}
input#cpf:hover {
  border: 1px solid #5c95c5c4;
}
input#cpf::after {
  border: 1px solid #5c95c5c4;
}
input#numero {
  width: 100%;
  font-size: 1rem;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 34px;
}
input#numero:hover {
  border: 1px solid #5c95c5c4;
}
.left {
  width: 13%;
  height: 93.9vh;
  background-color: #3e7070;
  position: absolute;
  top: 58px;
}
.rigth {
  width: 13%;
  height: 93.9vh;
  background-color: #3e7070;
  position: absolute;
  top: 58px;
  right: 0px;
}
.dx-show-invalid-badge.dx-textarea.dx-textbox.dx-texteditor.dx-editor-outlined.dx-texteditor-empty.dx-widget.dx-visibility-change-handler {
  width: 91%;
  margin-left: 51px;
}
@media screen and (max-width: 920px) {
  ::ng-deep .form-group {
    flex-direction: column;
  }

  ::ng-deep .right {
    display: none; /* Esconda o elemento right em telas menores */
  }

  ::ng-deep .dx-show-invalid-badge {
    width: 80%;
    margin-left: 0;
  }

  input#numero {
    width: 80%;
  }
  input#cpf {
    width: 80%;
  }
}
