<div class="container">
  <form action="">

    <dx-form id="form" [formData]="dataAluno">
      <dxi-item itemType="group" [colCount]="1" caption="Gerar matricula">


        <dxi-item itemType="group" [colCount]="1">
          <!--Mostar Aluno-->
          <dxi-item editorType="dxSelectBox" caption="Selecione o aluno">
            <dx-select-box id="selectbox" displayExpr="nome" [width]="300" [dataSource]="dataAluno" valueExpr="id"
              [inputAttr]="{ 'aria-label': 'Select Employee' }" (onSelectionChanged)="onAlunoSelectionChanged($event)"
              (onEditorPreparing)="onEditorPreparing($event)">
            </dx-select-box>
          </dxi-item>
          <dxi-item dataField="id"> </dxi-item>
          <dxi-item dataField="nome_aluno"></dxi-item>
          <dxi-item dataField="cpf_aluno"></dxi-item>
        </dxi-item>

        <!--Mostar matricula-->
        <dxi-item editorType="dxSelectBox" caption="Selecione o Turma">
          <dx-select-box [dataSource]="dataTurma" id="selectbox" displayExpr="nome" [width]="300"
            [inputAttr]="{ 'aria-label': 'Select Employee' }" (onValueChanged)="onTurmaSelectionChanged($event)">
            <dxi-item dataField="nome"></dxi-item>
          </dx-select-box>
          <dxo-label template="Selecione a Turma"></dxo-label>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="1">
          <dxi-item dataField="situacao" caption="Situação" [width]="200"></dxi-item>
          <dxi-item dataField="HireDate" editorType="dxDateBox">
            <dxi-validation-rule type="required" message="Hire date is required"></dxi-validation-rule>
            <dxo-label template="date"></dxo-label>
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</div>