<div class="pag">
  <div class="carrocel">
  </div>
  <div class="login">
    <div class="img"></div>
    <div class="info">
      <h4 style="color: cadetblue; margin-left: -15px;">Bem vindo!!</h4>
      <p>Acesse agora maior plataforma de gerrencia de educacional</p>
    </div>
  <form  (submit)="submitForm()" >
    <dx-form width="50%" >
      <dxi-item dataField="usuario" name="usuario">
        <input type="text" [(ngModel)]="dataUsuario.usuario" name="usuario" required>
      </dxi-item>
      <dxi-item dataField="password">
        <input type="password" [(ngModel)]="dataUsuario.password" name="password" required>
      </dxi-item>
      <dxi-item name="loginRowButton" showText="Entrar">
        <button type="submit" class="btn btn-success" style="width: 100px;">Entrar</button>
      </dxi-item>
    </dx-form>
  </form>
  </div>
</div>
