<div class="pag">

  <div class="carrocel">
  </div>

  <div class="login">

    <div class="img"></div>



    <div class="info">
      <h4 style="color: cadetblue; margin-left: -15px;">Bem vindo!!</h4>

      <p>Acesse agora maior plataforma de gerrencia de educacional</p>
    </div>


    <dx-form id="form" [formData]="dataUsuariosLogin" width="50%" >
      <dxi-item class="item-form" itemType="group" [colCount]="1">
        <dxi-item dataField="usuario" ></dxi-item>
        <dxi-item dataField="password" [editorOptions]="{mode: 'password'}"></dxi-item>
      </dxi-item>

      <dxi-item name="loginRowButton" showText="Entrar">
        <dx-button  (click)="Entrar()" class="btn btn-success" style="width: 100px;">Entrar</dx-button>
      </dxi-item>

    </dx-form>

  </div>
</div>
